[Unit]
Description=Pi Live RTSP Ingestor for %i
After=network-online.target redis-server.service
Wants=network-online.target

[Service]
Type=simple
User=pi
Group=pi
EnvironmentFile=-/etc/default/pi-live
WorkingDirectory=/home/pi/pi-live-detect-rstp
ExecStart=/usr/bin/env bash -lc 'source /home/pitato/pi-live-detect-rstp/.venv/bin/activate && python -m app.entrypoints.rtsp_ingestor_service %i'
Restart=always
RestartSec=2
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
