[Unit]
Description=Pi Live FastAPI Server
After=network.target redis-server.service

[Service]
Type=simple
User=pitato
Group=pitato
WorkingDirectory=/home/pitato/pi-live-detect-rstp
ExecStart=/usr/bin/env bash -lc 'source /home/pitato/pi-live-detect-rstp/.venv/bin/activate && uvicorn app.api.server:app --host 0.0.0.0 --port 8000'
Restart=always
RestartSec=2

[Install]
WantedBy=multi-user.target
